<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Employee page</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">

</head>


<body>
<nav aria-label="main navigation" class="navbar" role="navigation" style="background-color: #dcdde1">
    <div class="navbar-brand">
        <span class="navbar-item">
            <img alt="" height="35" th:src="@{/images/team.png}" width="35">
            <span class="title">Employee Management System</span>
        </span>
    </div>
</nav>
<div class="container">
    <br><br><br>
    <h1 class="title">Employee List</h1>
    <div class="table-container">
        <form method="post" th:action="@{/employees/delete}">
            <table class="table is-hoverable is-fullwidth" th:object="${Select}">
                <thead>
                <tr>
                    <th><abbr title="Employee Id">Id</abbr></th>
                    <th>Name</th>
                    <th>Department Id</th>
                    <th><abbr title="Date Of Birth">DOB</abbr></th>
                    <th>Email</th>
                    <th>#</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="emp : ${List}">
                    <th th:value="${emp.employee_id}"><span th:text="${emp.employee_id}">EMPLOYEE</span></th>
                    <td><span th:text="${emp.first_name}">FIRST_NAME</span> <span
                            th:text="${emp.last_name}">LAST_NAME</span>
                    </td>
                    <td><span th:text="${emp.department_id}">DEPARTMENT_ID</span></td>
                    <td><span th:text="${emp.date_of_birth}">DOB</span></td>
                    <td><span th:text="${emp.email}">EMAIL</span></td>
                    <td><input type="checkbox" th:value="${emp.employee_id}" name="selection"></td>
                </tr>
                </tbody>
            </table>
            <div class="buttons">
                <a th:href="@{/employees/add/}" class="button is-primary">Add</a>
                <button class="button is-link" formaction="@{/employees/edit}" >Edit</button>
                <button class="button is-danger" type="submit">Delete</button>
            </div>
        </form>


    </div>
</div>
</body>

</html>