<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Employee page</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">

</head>

<body>

<!--<nav aria-label="main navigation" class="navbar" role="navigation" >-->
<!--    <div class="navbar-brand">-->
<!--        <span class="navbar-item">-->
<!--            <img alt="" height="35" th:src="@{/images/team.png}" width="35">-->
<!--            <span class="title">Employee Management System</span>-->
<!--        </span>-->
<!--    </div>-->
<!--</nav>-->
<br>

<nav class="level">
    <p class="level-item has-text-centered">
        <a class="link is-info" th:href="@{/department/}">Departments</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info" th:href="@{/employees/}">Employees</a>
    </p>
    <p class="level-item has-text-centered">
        <img alt="" height="100" th:src="@{/images/employee.svg}" width="100">
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Regualations</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Help</a>
    </p>
</nav>

<br><br><br>

<div class="container content" style="text-align: center">

<!--    <img th:src="@{/images/employee.svg}" height="300" width="300">-->


<!--    <div class="columns buttons">-->
<!--        <div class="column is-4"></div>-->
<!--        <div class="column">-->
<!--            <button class="button is-info">Info</button>-->
<!--        </div>-->
<!--        <div class="column">-->
<!--            <button class="button is-success">Success</button>-->
<!--        </div>-->
<!--        <div class="column">-->
<!--            <button class="button is-warning">Warning</button>-->
<!--        </div>-->
<!--        <div class="column">-->
<!--            <button class="button is-danger">Danger</button>-->
<!--        </div>-->
<!--        <div class="column is-4"></div>-->
<!--    </div>-->

</div>


</body>
</html>